SECRET_KEY=PUT_HERE_YOUR_SUPER_SECRET_KEY
DB_NAME=NAME_OF_YOUR_DATABASE 
DB_USER=NAME_OF_YOUR_USER
DB_PASSWORD=PASSWORD_FOR_YOUR_USER
DB_HOST=HOST_OF_YOUR_DATABASE

# THESE ENVIRONMENT VARIABLES HAVE DEFAULT VALUES ON SEETTINGS FILE
DB_PORT=5432
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
TIME_ZONE=UTC
