{% extends 'base.html' %}

{% block title %}
AS | Home
{% endblock %}


{% block content %}
<div class="container">
  <h1>Welcome to AS</h1>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col"><i class="bi-alarm" style="font-size: 3rem; color: cornflowerblue;"></i>{% lorem %}</div>
      <div class="col"><i class="bi-alarm" style="font-size: 3rem; color: cornflowerblue;"></i>{% lorem %}</div>
      <div class="col"><i class="bi-alarm" style="font-size: 3rem; color: cornflowerblue;"></i>{% lorem %}</div>
    </div>
  </div>
</div>
{% endblock %}
